@use "../../variables" as *;

.leftArrow {
    transform: scale(1.5);
    cursor: pointer;
  }
  .rightArrow {
    position: absolute;
    top: 0;
    right: -28px;
    transform: rotateZ(180deg) scale(1.5);
    cursor: pointer;
  }