@use "../../variables" as *;

.prods-carousel {
  overflow: hidden;
  position: relative;
  height: 65%;
  width: 100%;
  @media (min-width: 768px) and (max-width: 1024px) {
    height: 50%;
  }
  @media (min-width: 1024px) and (max-width: 1280px) {
    height: 60%;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &:hover {
    overflow: auto;
  }

  &-track {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 60px;
    left: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    animation: bannermove 30s linear infinite;
    @media (min-width: 768px) and (max-width: 1024px) {
      gap: 30px;
    }
    @media (min-width: 1024px) and (max-width: 1280px) {
      gap: 30px;
    }
    &:hover {
      animation-play-state: paused;
    }

    @keyframes bannermove {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(-50%, 0);
      }
    }
  }
}
