@use "../../variables" as *;

.main {
  background-image: url("../../assets/bg_slider.webp");
  background-repeat: repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  position: relative;
}
