@use "../../variables" as *;

.nav-responsive {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 35px 30px 20px;
  position: relative;
  align-items: center;

  .logoSide {
    display: flex;
    width: 70%;

    img {
      width: 150px;
    }
  }

  .menuBurguer {
    width: 20px;
    height: 30px;
    position: relative;
    margin-right: 26px;
    z-index: 99;
    .topLine {
      width: 30px;
      height: 2.5px;
      background-color: $white;
      position: absolute;
      top: 8px;
      transition: all 0.5s ease-in-out;
    }
    .topLine.open {
      top: 0;
      transform: rotate(45deg);
      transform-origin: left;
      width: 40px;
    }
    .bottomLine {
      width: 30px;
      height: 2.5px;
      background-color: $white;
      position: absolute;
      bottom: 8px;
      transition: all 0.5s ease-in-out;
    }
    .bottomLine.open {
      bottom: 0;
      transform: rotate(-45deg);
      transform-origin: left;
      width: 40px;
    }
  }

  .navSide {
    position: absolute;
    top: 0;
    right: 0;
    width: 61px;
    height: 61px;
    background-color: rgba($color: $darkBlue, $alpha: 0.75);
    border-radius: 50%;
    border: 2px solid rgba($color: $orange, $alpha: 1);
    transition: all 0.6s ease-in-out;
    clip-path: circle(50% at 100% 1);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &_navBtn {
      .navButtons {
        color: $white;
        font-size: 20px;
        font-family: $primaryFont;
        opacity: 0;
        transition: all 3s ease-in-out;
      }
      .navButtons.show {
        display: flex;
        flex-direction: column;
        opacity: 1;
      }
    }
    &_logBtn {
      padding-top: 30px;
      place-self: center;
      opacity: 0;
      transition: all 2s ease-in-out;
      a {
        display: flex;
        font-size: 16px;
        height: 40px;
        width: 150px;
        padding: 11px var(--Space-200, 8px);
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 17.5px;
        border: 1px solid #d9d9d9;
        background: #dc5326;
        color: #d9d9d9;
        font-family: $secondaryFont;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        transition: 0.3s all ease-in-out;
      }
    }
    &_logBtn.show {
      opacity: 1;
    }
    &_logo {
      padding-top: 50px;
      align-self: center;
      opacity: 0;
      transition: all 2s ease-in-out;
    }
    &_logo.show {
      opacity: 1;
    }
  }
  .navSide.show {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    clip-path: circle(150% at 100% 0);
    top: -35px;
    right: -30px;
    background-image: url("../../assets/bg_slider.webp");
    background-repeat: repeat;
    background-position: left;
    background-size: cover;
    border: none;
  }
}
