@use "../../variables" as *;

form {
  margin: 50px auto;
  gap: 5px;
  font-family: $secondaryFont;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1.2px;
  color: $white;
  padding: 0 125px;

  @media (max-width: 767px) {
    padding: 0;
  }

  .form-field {
    position: relative;
    width: 100%;
    margin: 0 0 20px;
    label {
      position: absolute;
      pointer-events: none;
      left: 15px;
      top: -15px;
      background-color: rgba($color: $darkBlue, $alpha: 1);
      padding: 0 5px;
      font-size: 1rem;
    }
    input[type="text"] {
      width: 100%;
      height: 40px;
      border: 1px solid rgba($color: $orange, $alpha: 1);
      padding-left: 10.5px;
      border-radius: 5px;
      background: transparent;
      display: flex;
      align-items: end;
      font-size: 1rem;
      transition: 0.2s all ease-in-out;
    }
    input[type="text"]:focus {
      outline: none;
      border: 1px solid rgba($color: $orange, $alpha: 0.5);
      transition: 0.2s all ease-in-out;
    }
    input[type="email"],
    select {
      width: 100%;
      height: 40px;
      border: 1px solid rgba($color: $orange, $alpha: 1);
      padding-left: 10.5px;
      border-radius: 5px;
      background: transparent;
      font-size: 1rem;
      transition: 0.2s all ease-in-out;
    }
    input[type="email"]:focus,
    select:focus,
    textarea:focus {
      outline: none;
      border: 1px solid rgba($color: $orange, $alpha: 0.5);
      transition: 0.2s all ease-in-out;
    }
    textarea {
      width: 100%;
      height: 100px;
      border: 1px solid rgba($color: $orange, $alpha: 1);
      padding-left: 10.5px;
      border-radius: 5px;
      background: transparent;
      font-size: 1rem;
      transition: 0.2s all ease-in-out;
      padding-top: 5px;
    }
  }
  .field-tc {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    input[type="checkbox"] {
      width: 1em;
      height: 1rem;
      accent-color: $darkBlue;
    }
    label {
      pointer-events: none;
      padding: 0 5px;
      font-size: 1rem;
      @media (max-width: 767px) {
        font-size: 0.7rem;
      }
    }
  }
  .submit-field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    input[type="submit"] {
      display: flex;
      width: 200px;
      height: 50px;
      padding: 11px var(--Space-200, 8px);
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 17.5px;
      border: 1px solid #d9d9d9;
      background: #dc5326;
      color: #d9d9d9;
      font-family: $secondaryFont;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
      transition: 0.3s all ease-in-out;
      cursor: pointer;
      &:hover {
        background: $darkBlue;
      }
    }
  }
}
